.git
.github
.venv
venv
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
!.env.example
!.env.local.example
!.env.dev.example
!.env.prod.example
flask_session/
instance/
static/uploads/
static/results/
migrations/__pycache__/
